/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    height: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    flex-direction: column;
}

/* Header - image */

img {
    display: block;
    object-fit: cover;
}

/* Header - Profile Container */

/* declaring the parent container */
.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile {
    display: flex;
    flex-direction: row;  /* main axis, left to right */
    align-items: center;  /* cross axis on the vertical axis */
    margin: auto;
    font-size: 2em;
    color: black;
    padding: 3rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;    /* declared left allows for text wrapping around the image */
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 5rem;
    width: calc(30% - 2rem); /* Helps with responsive designs */
}

.profile_image img {
    border-radius: 50%;
    border: 5px solid grey;
}

.profile-user-settings {
    float: left;
    display: flex;
    flex-direction: row;
    width: calc(60% - 2rem);
    flex-wrap: wrap;
    margin-top: 2rem;
}

.profile-stats {
    float: left;
    width: calc(60% - 2rem);
}

.profile-bio {
    text-align: left;
    margin: 0 auto 30px;
}

.profile-user-name {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 8px;
}

/* Commenting out at the moment to focus on specific buttons 
.btn {
    background: transparent;
    border: 1px solid #dcdcdc99;
    border-radius: 4px;
    color: #262626;
    font-weight: 600;
    padding: 5px 9px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
}
*/

.profile-edit-btn {
    border: 1px solid #dcdcdc99;
    line-height: 2;
    background: transparent;
    background-color: #ddd;
    border-radius: 0.5rem;
    color: #262626;
    padding: 0 2rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.profile-settings-btn {
    border: 1px solid #dcdcdc99;
    line-height: 2;
    background: transparent;
    background-color: #ddd;
    border-radius: 0.5rem;
    color: #262626;
    padding: 0 2rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.profile-stats ul {
  display: flex;
  list-style: none;
}

.profile-stats li {
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
}

.profile-stat-count {
  font-weight: 1000;
  display: block;
}



.profile-bio .profile-real-name {
    font-weight: bold;
}

/* Main - Galary Container */

.main {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 100%;
    flex-direction: column;
}

.gallery {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    max-height: ;
    margin: auto;
    grid-auto-rows: 255px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* give an shadow effect. (1. horizontal offset - shadow centered horzontally with no shift, 2. Vertical offset. 3. Blur radius) */
    border-radius: 8px;
}

.gallary-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover ;                        /* Ensure the image fits the container while preserving the aspect ratio . cover: entire container is covered and elements _ratio is preserved and content is scalled to fill the container entirely */
    border-bottom: 1px solid #ddd ;
}


