/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    height: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    flex-direction: column;
}

/* Header - Profile Conainer */

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    font-size: 2em;
    color: black;
    padding: 16px 0;
}

/* Adding a comment */

img {
    display: block;
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.profile-image {
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid red;
    object-fit: cover;
}

.profile_image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid red;
    object-fit: cover;
}

.profile-user-settings {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  background: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #262626;
  font-weight: 600;
  padding: 5px 9px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
}

.profile-user-name {
    font-size: 24px;
    margin: 8px;
}

.profile-edit-btn {
  border: 1px solid #dbdbdb;
  height:fit-content;
  background: none;
  padding: 8px;
  font-size: 20px;
}

.profile-settings-btn {
  border: 1px solid #dbdbdb;
  background: none;
  padding: 8px;
  font-size: 20px;
}

.profile-stats {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-stats ul {
  display: flex;
  list-style: none;
}

.profile-stats li {
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
}

.profile-stat-count {
  font-weight: 1000;
  display: block;
}

.profile-bio {
    text-align: left;
    margin: 0 auto 30px;
}

.profile-bio .profile-real-name {
    font-weight: bold;
}

/* Main - Galary Container */

.main {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 100%;
    flex-direction: column;
}

.gallery {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    max-height: ;
    margin: auto;
    grid-auto-rows: 255px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* give an shadow effect. (1. horizontal offset - shadow centered horzontally with no shift, 2. Vertical offset. 3. Blur radius) */
    border-radius: 8px;
}

.gallary-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover ;                        /* Ensure the image fits the container while preserving the aspect ratio . cover: entire container is covered and elements _ratio is preserved and content is scalled to fill the container entirely */
    border-bottom: 1px solid #ddd ;
}


